<div class="sidebar-container">
  <%= render "shared/sidebar" %>

<div class="page-dashboard">

  <div class="content">
    <h1>Bem-vindo, <%= current_user.email %>!</h1>
    <p>Conteúdo da Dashboard</p>
  </div>
</div>

</div>
