<div class="page-home">
  <nav>
    <div class="logo">Meu Projeto</div>
    <ul>
        <li><%= link_to "Entrar", new_user_session_path, class: "login" %></li>
        <li><%= link_to "Cadastrar", new_user_registration_path, class: "cadastro" %></li>
    </ul>
  </nav>

  <main>
    <div>
      <h1>Bem-vindo ao Meu Projeto</h1>
      <p>Esse Projeto é apenas um teste usando o devise</p>
    </div>
  </main>
</div>
